@import 'src/styles/vars';

#quote {
  position: absolute;
  .quote {
    height: 30vh;
    width: 50vw;
  
    &-content {
      align-items: center;
      display: flex;
      padding: 0 1em;
      font-size: 1.2em;
      height: 80%;
      justify-content: center;
    }
    &-infos {
      align-items: center;
      background-color: rgba(255,255,255,.3);
      border-radius: 0px 0px 10px 10px;
      display: flex;
      height: 20%;
      justify-content: space-around;
  
      &-author {
        font-style: italic;
      }
      &-likes {
        & button  {
          background-color: $primary;
          color: $quasi-white;
          font-family: 'Montserrat';
          font-weight: 300;
          padding: .7em 1.2em;
          font-size: .85rem;
  
          & .icon {
            margin-right: 5px !important;
          }
          & .icon--liked {
            color: #f44336;
          }
        }
      } 
    }
  }
}

blockquote:before, blockquote:after {
  position: absolute;
  color: rgba(0, 0, 0, 0.7);
  font-size: 8rem;
  width: 2rem;
  height: 2rem;
}
blockquote:before {
  content: "“";
  left: 15px;
  top: 45px;
}
blockquote:after {
  content: "„";
  right: 2rem;
  bottom: 10rem;
}

@media (max-width: 768px) {
  #quote {
    & .quote {
      height: 40vh;
      width: 95vw;

      &-infos {
        &-likes {
          & button {
            font-size: .9em;
            padding: .7em 1.2em;
          }
          & a {
            font-size: .9em;
          }
        }
      }
    }
  }
}
